*.html
/network-security.data
elpa/
/ido.last
/projectile-bookmarks.eld
/.org-id-locations
/configuration/*.el
!/configuration/.dir-locals.el
/configuration.el
/games
/eshell
/magithub
/meghanada
/semanticdb
recentf
top-level-packages.el*
/transient
/tutorial
/url
/var
*ido.last#
*recentf#
*scratch*
.cask/
.mc-lists.el
abbrev_defs
eww-bookmarks
bookmarks
tramp
projectile.cache
env.el
/request
/straight
configuration/emacs-configuration.db
org-roam.db